<div class="post-border center-relative block"></div>
  <% current_user.current_user_posts.each do |post| %>
    <article class="relative blog-item-holder center-relative">
      <div class="cat-links">
        <ul>
          <li>
            <a href="#"><%= post.category %></a>
          </li>
        </ul>
      </div>
      <div class="entry-date published"><%= post.created_at.strftime("%m/%d") %></div>
      <div class="author vcard"><%= post.user.email %></div>
      <h2 class="entry-title">
        <a href="<%= post_path(post) %>"><%= post.title %></a>
      </h2>
      <div class="clear"></div>
    </article>
  <% end %>
