<div id="<%= dom_id post %>" class="text-center my-5">
  <p class="fs-3">
    <strong><%= post.title %></strong>
  </p>
  <p class="fs-5 content-style">
    <%= post.content %>
  </p>

  <% if post.image_slug? %>
    <% image_path = post.image_url(post[:image_slug]) %>
    <%= image_tag image_path, class: "post-image"%>
  <% end %>

  <p class="fs-4">
    <%= post.category %>
  </p>
</div>