<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="text-center text-success"><%= notice %></p>
      <%= render @post %>
      <% if current_user == @post.user %>
        <div class="d-flex justify-content-between mt-3">
          <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary" %>
          <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      <% end %>
      <%= link_to "Back to posts", posts_path, class: "mt-3 d-block text-center" %>
    </div>
  </div>
</div>